body{
    background-color: aqua;
}
.contener{
    background-color: white;
    height: 500px;
    width: 70%;
    margin: auto;
}
h1{
    text-align: center;
}
.btn{
    align-items: center;
}
.input{
    text-align: center;
}
.saisi{
    padding: 10px;
}
.submit{
    padding: 10px;
}