
body{
    background-color: aqua;
}
.tout{
    background-color: white;
    height: 500px;
    width: 70%;
    margin: auto;
}
h1{
    text-align: center;
}
.btn{
    align-items: center;
}
.input{
    text-align: center;
}
.saisi{
    padding: 10px;
}
.submit{
    padding: 10px;
}
.todos{
    text-align: center;
    padding: 30px;
}
.contener{
display: flex;
justify-content: center;
align-items: center;
}
.todolist{
    list-style: none;
    margin: auto;
    min-width: 50%;
}
.todobox{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    height: 30px;
}
button{
    background-color: bisque;
    cursor: pointer;
    border: none;
}